<div class="tab-content" id="v-pills-tabContent">
    <!--1-->
    <div class="tab-pane fade show active" id="v-pills-dashboard dash" role="tabpanel"
      aria-labelledby="v-pills-dashboard-tab">

      <app-user></app-user>

  <br>
  <!-- <app-admins></app-admins> -->
  <!-- <app-users></app-users> -->

    
  
    </div>
    <!--2-->
    <div class="tab-pane fade" id="v-pills-customers" role="tabpanel" aria-labelledby="v-pills-customers-tab">
        <app-users></app-users>

    </div>
    <!--3-->
    <div class="tab-pane fade" id="v-pills-reports" role="tabpanel" aria-labelledby="v-pills-reports-tab">
    3333333333
    <!-- <app-admins></app-admins> -->

    </div>
    <!--4-->
    <div class="tab-pane fade" id="v-pills-update" role="tabpanel" aria-labelledby="v-pills-update-tab">
        <!-- <app-users></app-users> -->
  <app-admins></app-admins>

      
    </div>
    <!--5-->
    <div class="tab-pane fade" id="v-pills-month" role="tabpanel" aria-labelledby="v-pills-month-tab">
      Current month tab
  <!-- <app-admins></app-admins> -->
        <app-user></app-user>
    </div>
    <!--6-->
    <div class="tab-pane fade" id="v-pills-quarter" role="tabpanel" aria-labelledby="v-pills-quarter-tab">
      <app-wifi></app-wifi>
    </div>
    <!--7-->
    <div class="tab-pane fade" id="v-pills-social" role="tabpanel" aria-labelledby="v-pills-social-tab">
      socail engagement tab
    </div>
    <!--8-->
    <div class="tab-pane fade" id="v-pills-year" role="tabpanel" aria-labelledby="v-pills-year-tab">
      year-end sale tab
    </div>
    <!--9-->
    <div class="tab-pane fade" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
  <!-- <app-admins></app-admins> -->
 
    </div>
  
    <!-- ---10---- -->
    <div class="tab-pane fade" id="v-pills-card" role="tabpanel" aria-labelledby="v-pills-card-tab">

        <app-tour-collection></app-tour-collection>>
  
    </div>
    <!-- ---10---- -->
  
  </div>
  