<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Top Add start -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Hotel List</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">Administration</a>
            </li>
            <li class="breadcrumb-item active">Hotel List</li>
          </ol>
          <button
            (click)="changeView()"
            type="button"
            [ngStyle]="{ 'background-color': getColor() }"
            class="btn btnColor  d-lg-block m-l-15"
          >
            <i class="fa iconColor fa-plus-circle mr-2"></i>{{ btnCreate }}
          </button>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Top Add end -->
    <!-- ============================================================== -->
  
    <!-- ============================================================== -->
    <!-- Start Add Page -->
    <!-- ============================================================== -->
  
    <div class="row" *ngIf="formsBool">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Hotel ADD</h2>
            <form [formGroup]="loginFrm">
              <div class="form-row">
                <div class="col-md-5 mb-3 form-group">
                  <label for="TourID">ID</label>
  
                  <input type="text" formControlName="id" class="form-control" readonly/>
                </div>
               
              </div>
  
              <div class="form-row">
                <div class="col-md-3 mb-3 form-group">
                  <label for="TitleHotel">TitleHotel</label>
  
                  <input
                    type="text"
                    formControlName="TitleHotel"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="TourRate">Section</label>
  
                  <input
                    type="text"
                    formControlName="Section"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="ReviewHotel">ReviewHotel</label>
  
                  <input
                    type="text"
                    formControlName="ReviewHotel"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="BookedHotel">BookedHotel</label>
  
                  <input
                    type="text"
                    formControlName="BookedHotel"
                    class="form-control"
                  />
                </div>
              </div>
  
              <div class="form-row">
                <div class="col-md-3 mb-3 form-group">
                  <label for="CityHotel">CityHotel</label>
  
                  <input
                    type="text"
                    formControlName="CityHotel"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="DateHotel">DateHotel</label>
  
                  <input
                    type="text"
                    formControlName="DateHotel"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="Degree">Degree</label>
  
                  <input
                    type="text"
                    formControlName="Degree"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="Image">Image</label>
  
                  <input
                    type="text"
                    class="form-control"
                    id="Image"
                    placeholder="Distance"
                  />
                </div>
               
              </div>
  
              <div class="form-row">
                <div class="col-md-3 mb-3 form-group">
                  <label for="Oldprice">Oldprice</label>
  
                  <input
                    type="text"
                    formControlName="Oldprice"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="Premium">Premium</label>
  
                  <input
                    type="text"
                    formControlName="Premium"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="PriceHotel">PriceHotel</label>
  
                  <input
                    type="text"
                    formControlName="PriceHotel"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3 form-group">
                  <label for="RateHotel">RateHotel</label>
  
                  <input
                    type="text"
                    formControlName="RateHotel"
                    class="form-control"
                  />
                </div>
              </div>
                   
  
              <button
                class="btn btn-primary"
                (click)="addTour()"
                [ngStyle]="{ 'background-color': getColor() }"
                type="submit"
              >
                Submit form
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- End Add Page -->
    <!-- ============================================================== -->
  
    <!-- ============================================================== -->
    <!-- Start List Page -->
    <!-- ============================================================== -->
  
    <div *ngIf="!formsBool">
      <div class="card" *ngIf="!formsUpdate">
        <div class="card-body">
          <h2 class="card-title">Hotel List</h2>
          <!-- <h6 class="card-subtitle">Add class <code>.color-table .danger-table</code></h6> -->
          <div class="table-responsive">
            <table class="table color-table">
              <thead [ngStyle]="{ 'background-color': getColor() }">
                <tr>
                  <th>#</th>
                  <th>TitleHotel</th>
                  <th>CityHotel</th>
                  <th>Premium</th>
                  
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataSourceadmin">
                  <td>1</td>
                  <td>{{item.TitleHotel}}</td>
                  <td>{{item.CityHotel}}</td>
                  <td>{{item.Premium}}</td>
                  
                  
                  <td>
                   
                      <i class="fas fa-pencil-alt" (click)="updateTour(item)" ></i>
                   
                  </td>
                  <td> 
                     
                    <i class="fas fa-trash-alt" (click)="deleteTour(item.id)"></i>
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
          <div class="card" *ngIf="formsUpdate">
            <div class="card-body">
              <h2 class="card-title">Hotel ADD</h2>
              <form [formGroup]="updateFrm">
                <div class="form-row">
                  <div class="col-md-5 mb-3 form-group">
                    <label for="TourID">ID</label>
    
                    <input type="text" formControlName="id" class="form-control" readonly/>
                  </div>
               
                </div>
    
                <div class="form-row">
                  <div class="col-md-3 mb-3 form-group">
                    <label for="TitleHotel">TitleHotel</label>
    
                    <input
                      type="text"
                      formControlName="TitleHotel"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="TourRate">Section</label>
    
                    <input
                      type="text"
                      formControlName="Section"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="ReviewHotel">ReviewHotel</label>
    
                    <input
                      type="text"
                      formControlName="ReviewHotel"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="TourBooked">BookedHotel</label>
    
                    <input
                      type="text"
                      formControlName="BookedHotel"
                      class="form-control"
                    />
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="col-md-3 mb-3 form-group">
                    <label for="TourPrice">CityHotel</label>
    
                    <input
                      type="text"
                      formControlName="CityHotel"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="DateHotel">DateHotel</label>
    
                    <input
                      type="text"
                      formControlName="DateHotel"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="Degree">Degree</label>
    
                    <input
                      type="text"
                      formControlName="Degree"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="Image">Image</label>
    
                    <input
                      type="text"
                      class="form-control"
                      id="Image"
                      placeholder="Image"
                    />
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="col-md-3 mb-3 form-group">
                    <label for="Oldprice">Oldprice</label>
    
                    <input
                      type="text"
                      formControlName="Oldprice"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="Premium">Premium</label>
    
                    <input
                      type="text"
                      formControlName="Premium"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="PriceHotel">PriceHotel</label>
    
                    <input
                      type="text"
                      formControlName="PriceHotel"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-3 mb-3 form-group">
                    <label for="RateHotel">RateHotel</label>
    
                    <input
                      type="text"
                      formControlName="RateHotel"
                      class="form-control"
                    />
                  </div>
                </div>

                 
    
                <button
                  class="btn btn-primary"
                  (click)="updateThisTour()"
                  [ngStyle]="{ 'background-color': getColor() }"
                  type="submit"
                >
                  Update Tour
                </button>
              </form>
            </div>
        </div>
  
    </div>
  
    <!-- ============================================================== -->
    <!-- Start Add Page -->
    <!-- ============================================================== -->
  <!-- ////////////////////////////////////////////////// -->
  
  
    <!-- //////////////////////////////////////////// -->
  </div>
  