.btnsign{
    
    // position: absolute;
    // left: 35px;
    background-color: #E64A19;
    color: white;
    width: 70%;
}

.btndelet{
    background-color: #d31818;
    color: white;
    font-weight: bold;

}

table {
    width: 100%;
  }

  .btnchange{
    
    // position: absolute;
    // left: 35px;
    background-color: #E64A19;
    color: white;
    width: 20%;
}